#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: {{ args["hostname"] }}
    username: ubuntu
    # p@ssw0rd
    password: "$6$xyz$rfUoxhnScmjOykLAVIhgfxmKgIWmTirRSrIZ9j5EJ1Vf765rQS.dCbXjXBx4PuhbcNNrXx2XpwUywQ96C7EJB/"
  ssh:
    install-server: yes
  network:
{% if 'network' in args -%}
{{ args["network"] | pretty(indent=4) }}
{%- endif %}

